# Base URL for Farm2Route REST API
API_BASE_URL=http://10.0.2.2:8080/api/v1 # Android Emulator
# API_BASE_URL=http://localhost:8080/api/v1 # iOS Simulator or Web

# WebSocket STOMP Endpoint
WS_URL=ws://10.0.2.2:8080/ws-native

# Google Maps API Key
MAPS_API_KEY=AIzaSyYourGoogleMapsApiKey
